<div class="row" style="margin-top:50px;">
	<div class="col-md-8 col-md-offset-3">
		<figure class="snip0057 blue">
		  <figcaption>
		    <h2>¡Bienvenido!</h2>
		    <p>Ha accedido a la aplicación de Archivo de Función Pública con el perfil {{sessionService.perfilSeleccionado}}</p>
		    <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
		  </figcaption>
		  <div class="image"><img src="assets/imgs/archivo.jpg" alt="Archivo"/></div>
		  <div class="position">{{sessionService.username}}</div>
		</figure>
	</div>
</div>