<div class="col-md-12">
	<form [formGroup]="formulario" (ngSubmit)="onEnviarFormulario()"class="well form-horizontal">
		<h3>Filtro de búsqueda {{nombre_filtro}}</h3>
		<div class="form-group">
			<label class="col-sm-2 control-label">Nombre</label>
			<div class="col-sm-8">
				<input formControlName="nombre" id="nombre" type="text"
					class="form-control" placeholder="Nombre">
			</div>
		</div>
	
		<div class="form-group">
			<label class="col-sm-2 control-label">Primer apellido</label>
			<div class="col-sm-8">
				<input formControlName="primerApellido" id="primerApellido"
					type="text" class="form-control" placeholder="Primer apellido">
			</div>
		</div>
	
		<div class="form-group">
			<label class="col-sm-2 control-label">Segundo apellido</label>
			<div class="col-sm-8">
				<input formControlName="segundoApellido" id="segundoApellido"
					type="text" class="form-control" placeholder="Segundo apellido">
			</div>
		</div>
	
		<div class="form-group">
			<label class="col-sm-2 control-label">NIF</label>
			<div class="col-sm-8">
				<input formControlName="nif" id="nif" type="text"
					class="form-control" placeholder="Documento de identidad">
			</div>
		</div>
		
		<div>
			<button [disabled]="formulario.invalid" class="btn btn-primary" type="submit">Buscar</button>
			<button (click)="restablecer()" class="btn btn-default" type="button">Limpiar</button>
		</div>
	</form>
</div>