<div *ngIf="sessionService.authenticated && sessionService.perfilSeleccionado != null">
    <nav class="navbar navbar-default" style="margin-bottom: 0px">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['home']">Inicio</a></li>
                <li><a [routerLink]="['personas']">Personas</a></li>
            </ul>
            </div>
        </div>
    </nav>
</div>
<div class="jumbotron">
    <div class="container">
        <router-outlet></router-outlet>
        <simple-notifications [options]="notif_options"></simple-notifications>
    </div>
</div>
