<div class="menu" *ngIf="sessionService.authenticated && sessionService.perfilSeleccionado != null">
    <div class="container-fluid">
		<div class="navbar-header">
			<a [routerLink]="['home']">Archivo</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
                <li [routerLinkActive]="['active']"><a [routerLink]="['personas']">Personas</a></li>
            </ul>        
			<ul class="nav navbar-nav navbar-right">
				<li><a href="javascript:void(0)" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>Cerrar sesión</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
    <router-outlet></router-outlet>
    <simple-notifications [options]="notif_options"></simple-notifications>
</div>

<footer class="footer">
	<div class="container">
		<span>ArchivoDGFP</span>
	</div>
</footer>